.mat-toolbar.mat-primary 
{
    /* background:rgb(133, 168, 167); */
    background-color:transparent;
    
    color:black;
    
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
    
  }

  /* .navitems
  {
    max-width: 80%;
    margin: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

