<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  
    <div class="bg">
      <header style="color: aliceblue;padding: 14px;margin-left: 7%;padding-top: 6%;">
        <h1 style="font-size: 60px;line-height: 60px;">The</h1>
        <h1 style="font-size: 60px;line-height: 60px;"><span style="color: yellow">H</span>appiness <span style="color:yellow">P</span>rogram</h1>
        <!-- <p class="subhead" style="margin-left: 10%;">Making <span style="color: yellow;">LIFE</span> a Celebration</p> -->
        <h1 style="font-family: 'Caveat';font-size: 40px;line-height: 40px;">Practical Wisdom for Improving the quality of <span style="color: yellow">LIFE</span></h1>      
      </header>
    </div>
    </body>
</html>