.bg
{
    background-image:url("../../../src/assets/img1/hpybg1.1.jpg");
    /* min-height: 80%; */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.24);
}