
<div class="bg"  >
    <header >
      <h1 class="H1"><span style="color: skyblue">S</span>ahaj</h1>
      <h1 class="H1"><span style="color:skyblue">S</span>amadhi <span style="color: skyblue">M</span>editation</h1>
      <h1 class="fancy">Experience deep <span style="color: skyblue">Inner Peace</span> anytime anywhere</h1>
    </header>
</div>

<!-- <div class="quote">
    <h2 class="quoteh">Its a effortless meditation technique which helps in clarity of mind and thoughs
        and increase the level of self awareness</h2>
</div> -->
<div class="quote1">
  <div class="quote">
    <div class="q_image">
    <img src="../assets/img1/sahajquo.jpg" height="150px" style="border-radius: 50%;">
    </div>
    <div class="quo">
      <h2 class="quoteh"><span style="font-size: 50px;">''</span>Its a effortless meditation technique<br> which helps in clarity of mind and <br>thoughs
        and increase the level of self awareness</h2>
    </div>
  </div>
</div>

<div class="program">
    <h1 class="heading">Program Details</h1>
    <div class="row">
      <div >
        <img src="../../assets/img1/Group 19.svg" alt="" height="50">
        <h2 class="pdetails">Open to all elders above 18 years</h2>
      </div>
      <div>
        <img src="../../assets/img1/Group 16.svg" alt=""height="50">
        <h2 class="pdetails">Time per day: 2 hours</h2>
      </div>
  
      <div>
        <img src="../../assets/img1/Group 20.svg" alt=""height="50">
        <h2 class="pdetails">Program duration: 3 days</h2>
      </div>
    </div>
  </div>

  
<div class="courses">
    <h1 class="heading">Upcoming Courses</h1>
    <div class="upcoming">
      <div *ngFor="let cd of coursedet1;let i=index;" >
        <div class="ca card0">
          <mat-card>
            <div class="con">
            <img mat-card-image src="{{images[i%3].img}}" style="height: 250px;" alt="Photo of a Shiba Inu" >
            <div class="mid">
              <div class="text">{{cd.Imagetext}}</div></div>
            </div>
            <!-- <mat-card-content>
                <h3 style="font-family: 'Sriracha', cursive;">{{cd.coursename}}</h3>
                <p class="cdet">{{cd.startdate }} to {{cd.enddate }}</p>
                <p class="cdet">{{cd.time}}</p>
                <p class="cdet">{{cd.teacher}}</p>
            </mat-card-content> -->

            <mat-card-content>
              <!-- <p ><b>Course :</b> <span style="font-family: 'Sriracha', cursive;font-size: 18px;">{{cd.coursename}}</span></p> -->
              <h2 style="font-family: 'Mulish', cursive;"><b>{{cd.coursename}}</b></h2>
              <p class="cdet"><b>Start Date :</b> {{cd.startdate|date:'mediumDate' }}  </p>
              <p class="cdet"><b>End Date :</b> {{cd.enddate |date:'mediumDate' }}</p>
              <p class="cdet"><b>Timmings :</b> {{cd.time}}</p>
              <p class="cdet"><b>Teacher :</b> {{cd.teacher}}</p>
          </mat-card-content>
    
            <mat-card-actions style="display: flex;justify-content: space-around;">
              <button mat-raised-button class="background-primary">REGISTER</button>
              <button mat-raised-button class="background-primary">SHARE</button>
              
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div> 
  </div>
  
  
    
  
  <div class="teacher">
    <h1 class="heading">About the Trainer</h1>
    <div class="teacher1">
        <div class="timg" >
          <img src="../assets/img1/elon.jpg" width="200px" height="200px">
        </div>
  
        <div class="ttext">
          <p>kjadnfkjsfmbhjkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
          <p>kjadnfkjsfmbhjkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
          <p>kjadnfkjsfmbh<br>jkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
        </div>
    </div>
  </div>
    
  <mat-accordion >
    <h1 class="heading">I’m interested but I have some more questions…</h1>
  <mat-expansion-panel  *ngFor="let faq of FAQ , let i = index;"
  (opened)="setOpened(i)"
  (closed)="setClosed(i)">
  <mat-expansion-panel-header >
  <mat-panel-title>
  <b>{{faq.q}}</b>
  </mat-panel-title>
  </mat-expansion-panel-header>
  <p>{{faq.a}}</p>
  </mat-expansion-panel>
  </mat-accordion>
  